<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
    html, body {
      font-family: sans-serif;
      background: #f0f0f0;
      margin: 4em;
    }
    .main {
      background: white;
      border: solid 1px #c0c0c0;
      border-radius: 8px;
      padding: 2em;
    }
  </style>
</head>
<body>

  <section class="main">
    <h1>My_instgram_bot</h1> <h1> hello {{user}}</h1>
    <p>Cette WebApp a pour objectif de me permettre de coder et de chercher à récupérer de l'info d'instagram pour améliorer 
      la construction de mon réseau et augmenter le nombre de followers.</p>

    <p>ici je récupère le login et le mot de passe et je crée une session pour le user</p>
    
    <p>ici je renvoie vers la page pour récupérer les données du user (séparer les tables pour chaque user)</p>>

    <p>ici je cherche à connaitre qqs statistiques sur mes données </p>

    <p>ici je donne la possibilité de trouver des stats pour un autre utilisateur</p>

    <p>ici je permets de gérer du DM pour chaque nouveau follower</p>

    <p>ici je permet de follow / unfollow certains users (automatisé ou non)</p>
  </section>

</body>
</html>
